# PYTHON DATA STRUCTURE ASSIGNMENT

Q1 Discuss string slicing and provide examples ?

In [4]:
# Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end.
# Strings are a sequence of characters; slicing allows us to extract a partial sequence from a string.
# To slice a string in Python, we use character indexes.
# The index of the first character in a string is 0, the second character is 1, and so on.

# examples-

string1 = "my name is yash shakdwipee"
string1[0:4]

'my n'

In [3]:
#in this case we used indexation from 0 to 4 but the last is exclusive and will not be executed while excetuing and we got indexation
#of values 0,1,2,3.

In [5]:
#start_index:end_index
#if we not provide end index than it will automatically by default will give substring till the last index.

# example-
string1[0:]

'my name is yash shakdwipee'

In [12]:
#now if we want all the charactrs except the last five characters 
string1[:-5]

'my name is yash shakd'

In [7]:
#now if we want last characters
string1[-5:]

'wipee'

In [9]:
#steps in string-
#syntax[start:end:step]


string2="cricket is love"
string2[0:5:1] #by default it shows steps in 1 as well

'crick'

In [17]:
string2[0:6:2]
#every 2nd character in the string will be executed till the 6th character.
#even the space index will also be counted

'cik'

In [18]:
string2[::2]

'cikti oe'

In [19]:
#iteration over the sequence in reverse order-
string2[::-2]

'eo itkic'

Q2  Explain the key features of lists in Python ?

In [1]:
#Lists are used to store multiple items in a single variable.
#Lists are one of 4 built-in data types in Python used to store collections of data,
#the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
#Lists are created using square brackets.

##key features of lists are as follows-

#1 List Items
#List items are ordered, changeable, and allow duplicate values.
#List items are indexed, the first item has index [0], the second item has index [1] and so on

#example-
animals = ["panda","tiger", "lion", "bear"]
animals

['panda', 'tiger', 'lion', 'bear']

In [2]:
animals[0]

'panda'

In [4]:
animals[1]

'tiger'

In [8]:
#2 Ordered
#When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
#If you add new items to a list, the new items will be placed at the end of the list.

#examples-
animals.append("fox")

In [9]:
animals

['panda', 'tiger', 'lion', 'bear', 'fox']

In [11]:
animals.append("rabbit")

In [12]:
animals

['panda', 'tiger', 'lion', 'bear', 'fox', 'rabbit']

In [29]:
#now to add an item in a definite position -

songs=["jai ho", "sanam re", "ye dosti"]

In [30]:
songs.insert(2,"tujhe dekha")

In [31]:
songs

['jai ho', 'sanam re', 'tujhe dekha', 'ye dosti']

In [2]:
#3Changeable
#The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

#examples-

grocery_list=["apple", "banana", "milk",]

In [3]:
grocery_list

['apple', 'banana', 'milk']

In [4]:
grocery_list[0]

'apple'

In [5]:
grocery_list[0] = "potato"

In [6]:
grocery_list

['potato', 'banana', 'milk']

In [7]:
#4Allow Duplicates
#Since lists are indexed, lists can have items with the same value:

#Example-
grocery_list

['potato', 'banana', 'milk']

In [9]:
grocery_list.append("potato")

In [10]:
grocery_list

['potato', 'banana', 'milk', 'potato']

In [12]:
#5 List Length
#To determine how many items a list has, use the len() function

#example-
print(len(grocery_list))

4

In [14]:
len(grocery_list)

4

In [22]:
#6 List Items - Data Types
#List items can be of any data type:

#Example-
#String, integers and boolean data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [18]:
list1

['apple', 'banana', 'cherry']

In [31]:
print(type(list1[0]))

<class 'str'>

In [28]:
list4=["yash",1, 2, 3.2,"true", 3+4j]

In [29]:
type(list4)

list

In [32]:
print(type(list4[1]))

<class 'int'>

In [33]:
print(type(list4[3]))

<class 'float'>

In [36]:
print(type(list3[0]))

<class 'bool'>

Q3 Describe how to access, modify, and delete elements in a list with examples ?

In [37]:
#Accessing List Elements-

#You can access elements in a list using their index.
#Python uses zero-based indexing, so the first element is at index 0.and than1 and so on.


#examples-
my_cash = [10, 20, 50,100,]

In [38]:
my_cash[0]

10

In [40]:
my_cash[1]

20

In [41]:
#Modifying List Elements

#You can modify elements by assigning a new value to a specific index.

#example-
my_cash

[10, 20, 50, 100]

In [42]:
my_cash[0] = 100

In [43]:
my_cash

[100, 20, 50, 100]

In [44]:
my_cash[2] = 200

In [45]:
my_cash

[100, 20, 200, 100]

In [50]:
#deleting list elements-

#we can remove elements using the remove() method to remove by value,
#the pop() method to remove by index, or the del statement.

#examples-

my_cash.remove(20)

In [51]:
my_cash

[100, 200, 100]

In [53]:
my_cash.pop()

100

In [55]:
my_cash

[100, 200]

In [56]:
del my_cash

In [57]:
my_cash

NameError: name 'my_cash' is not defined

In [58]:
#now because the list" my_cash" is deleted its showing this error

Q4 Compare and contrast tuples and lists with examples?

In [65]:
#Letâ€™s compare and contrast lists and tuples in Python with some examples.

#Lists

#Mutable: Lists can be modified after creation

#Syntax: Defined using square brackets [].

#Methods: Lists have several built-in methods like append(), remove(), sort(), etc.

#Performance: Generally slower than tuples due to their mutable nature.

#Memory: Consume more memory.



#Example:

# Creating a list
my_list = [1, 2, 3, 4]

# Modifying the list
my_list[2] = 5
print(my_list) 

# Using a method
my_list.append(6)
print(my_list)

[1, 2, 5, 4]
[1, 2, 5, 4, 6]

In [61]:
#Tuples

#Immutable: Tuples cannot be modified after creation.

#Syntax: Defined using parentheses ().

#Methods: Fewer built-in methods compared to lists.

#Performance: Generally faster than lists due to their immutable nature.

#Memory: Consume less memory.



#Example:


# Creating a tuple
my_tuple = (1, 2, 3, 4)

# Attempting to modify the tuple (will raise an error)

my_tuple[2] = 5

TypeError: 'tuple' object does not support item assignment

In [62]:
#this shows that tuples can't be modified once they are created and that's why they are immutable

In [64]:
# Accessing elements
print(my_tuple[2])

3

In [66]:
#Key Differences

#Mutability: Lists are mutable, while tuples are immutable.

#Syntax: Lists use square brackets [], while tuples use parentheses ().

#methods: Lists have more built-in methods than tuples.

#Performance: Tuples are generally faster and consume less memory than lists.

Q5  Describe the key features of sets and provide examples of their use ?

In [6]:
# sets are unordered and unique collection of elements-

#unordered means whie adding any items in sets it will be added randomly not in a squence which we executed 
#unique collection of elements means even if there is any duplicate item in sets than that duplicate item will not gonna execute,
#duplicate item will be executed one time only.
# syntax {}

#example-
s = {1, 2, 3, 4, 5,}
type(s)

set

In [2]:
y = {"yash", "yash", "Yash", "Yash", 1, 2, 1, 2, 4, 4,}

In [3]:
y

{1, 2, 4, 'Yash', 'yash'}

In [5]:
#hence, it is unordered so evene in the above example we execute strings first and than integers
#but when excuted the strings comes first than integers executed.
#hence, it is unique collection of elements we tried to execute multiple duplicate items but they got executed once only.

In [7]:
# Sets are useful for membership testing, removing duplicates,
#and performing mathematical operations (such as union, intersection, difference, and symmetric difference)

In [8]:
# set operations 

# 1 union sets
#union sets combine elements from two sets excluding duplicates.

# 2 intersection sets
#instersection sets only combine common elements between sets.

# 3 difference sets 
#in difference sets it returns only the elements which is present in first set not in second set.

# 4 symmetric sets 
#in symmmetric sets it returns the elements which are present in either of the sets but not in both.

In [9]:
#examples of all the sets -

y1 = {"dancing", "reading", "sleeping"}
y2 = {"dancing", "laughing", "jogging"}

#union set example-
y1| y2

{'dancing', 'jogging', 'laughing', 'reading', 'sleeping'}

In [10]:
#intersection sets example-
y1 & y2

{'dancing'}

In [11]:
#difference sets example-
y1 - y2

{'reading', 'sleeping'}

In [12]:
#symmetric sets example-
y1 ^ y2

{'jogging', 'laughing', 'reading', 'sleeping'}

In [13]:
#Examples of set use include storing student IDs, eliminating duplicate entries, and performing set operations.

Q6  Discuss the use cases of tuples and sets in Python programming?

In [24]:
#use cases of tuples in python programming-

#tuples are immutable and hence can not be modified after being executed ,
#so we can use tuples where we don't want to change or modify elements later on.
# examples- aadhar card number, pan card number, employee id etc

yash_aadhar_number = (12345678901,"yhk")

In [25]:
yash_aadhar_number

(12345678901, 'yhk')

In [26]:
#now,if a want to edit the aadhar number than this will gonna show an error becuase its immutable and indexing of items is not there.

yash_aadhar_number[2] = 7

TypeError: 'tuple' object does not support item assignment

In [27]:
#another example-

yash_shk_id = (3042002,"yhk")

In [28]:
yash_shk_id

(3042002, 'yhk')

In [29]:
type(yash_shk_id)

tuple

In [30]:
yash_shk_id[5] = 8

TypeError: 'tuple' object does not support item assignment

In [31]:
#again its proved that its a tuple object and we cant modify it

In [32]:
#but we can use the features in tuple such as - count,indexing of a whole eleement,repeat,silcing,iteration,length,combining tuples

In [38]:
#to count
#we can count, how many similar elements are there in tuples
yash = ("cricket", 1, 1, 2, 2, 3, 3,"cricket")

In [39]:
yash.count("cricket")

2

In [40]:
#we can not do indivivual indexing of each item in tuple but we can do as a whole
yash.index("cricket")

0

In [41]:
#to repeat
print(yash*2)

('cricket', 1, 1, 2, 2, 3, 3, 'cricket', 'cricket', 1, 1, 2, 2, 3, 3, 'cricket')

In [42]:
#slicing
yash[0:5]

('cricket', 1, 1, 2, 2)

In [43]:
#reverse slicing
yash[::-5]

('cricket', 1)

In [44]:
#for iteration
for i in yash :
    print(i)

cricket
1
1
2
2
3
3
cricket

In [2]:
#use cases of sets in python programming-

#Removing duplicates from other data structures.
#Checking set membership.
#Performing mathematical set operations like union, intersection, difference, and symmetric difference.
#Storing unique elements.
#Eliminating duplicate values.
#Fast membership testing.

In [3]:
y = {"blue", "black", "white","blue", "blue","white", "black"}

In [4]:
y

{'black', 'blue', 'white'}

In [6]:
type(y)

set

In [7]:
# set operations 

# 1 union sets
#union sets combine elements from two sets excluding duplicates.

# 2 intersection sets
#instersection sets only combine common elements between sets.

# 3 difference sets 
#in difference sets it returns only the elements which is present in first set not in second set.

# 4 symmetric sets 
#in symmmetric sets it returns the elements which are present in either of the sets but not in both.

In [9]:
#examples of all the sets -

r1 = {"yash", "lucky", "richa"}
r2 = {"yash", "kunal", "pooja"}

#union set example-
r1| r2

{'kunal', 'lucky', 'pooja', 'richa', 'yash'}

In [10]:
#intersection sets example-
r1 & r2

{'yash'}

In [11]:
#difference sets example-
r1 - r2

{'lucky', 'richa'}

In [12]:
#symmetric sets example-
r1 ^ r2

{'kunal', 'lucky', 'pooja', 'richa'}

In [14]:
#frozen sets
#immutable version of sets ,can not add or remove any new version 

#example-
my_fs = frozenset([1,2,2,2,3,3,4,5])

In [17]:
my_fs

frozenset({1, 2, 3, 4, 5})

In [18]:
type(my_fs)

frozenset

In [19]:
my_fs.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [20]:
#hence,in the above example it is proved that we can not add or remove in frozenset

Q7  Describe how to add, modify, and delete items in a dictionary with example ?

In [21]:
#dictionary is a data structure that stores the data as key - value pair.
#keys are unique and immutable.

In [28]:
#Adding Items in dictionary

#Adding an item to the dictionary is done by using a new index key and assigning a value to it.

#example-
best_car ={
    "brand":"lamborghini",
    "model":"2022 aventador",
    "year":2022,
}

In [24]:
best_car

{'brand': 'lamborghini', 'model': '2022 aventador', 'year': 2022}

In [25]:
best_car["colour"] = "blue"

In [26]:
best_car

{'brand': 'lamborghini',
 'model': '2022 aventador',
 'year': 2022,
 'colour': 'blue'}

In [27]:
type(best_car)

dict

In [29]:
#modifying items in dictionary

# this method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

#example
best_car["colour"] = "black"

In [31]:
best_car

{'brand': 'lamborghini',
 'model': '2022 aventador',
 'year': 2022,
 'colour': 'black'}

In [32]:
best_car["brand"] = "porsche"
best_car["model"] = "911 spyder"
best_car["year"] = 2024

In [33]:
best_car

{'brand': 'porsche', 'model': '911 spyder', 'year': 2024, 'colour': 'black'}

In [34]:
#Removing Items from a Dictionary

#There are several methods to remove items from a dictionary

#deleting dictionary
#The del keyword removes the item with the specified key name

In [35]:
del best_car["model"]

In [36]:
best_car

{'brand': 'porsche', 'year': 2024, 'colour': 'black'}

In [37]:
del best_car["brand"]

In [38]:
best_car

{'year': 2024, 'colour': 'black'}

In [39]:
del best_car

In [40]:
best_car

NameError: name 'best_car' is not defined

In [41]:
#hence, the whole dict "best_car" is deleted that's why its showing error

Q8 Discuss the importance of dictionary keys being immutable and provide examples?

In [42]:
#To understand why dictionary keys must be immutable.
#Let us related it to hash table.
#The hash table implementation of dictionaries uses a hash value calculated from the key value to find the key.
#If letâ€™s say the key was a mutable object, its value could change, and thus its hash could also change.

#As stated above, since whoever changes the key object canâ€™t tell that it was being used as a dictionary key, 
#it canâ€™t move the entry around in the dictionary. Then-


#When you try to look up the same object in the dictionary it wonâ€™t be found because its hash value is different.
#If you tried to look up the old value it wouldnâ€™t be found either,
#because the value of the object found in that hash bin would be different.

In [1]:
#example -
yashdict= { [3, 4]: '02' }

TypeError: unhashable type: 'list'

In [2]:
rdict = {[9, 8]:"lucky"}

TypeError: unhashable type: 'list'

In [3]:
#It simply means that the Python interpreter is not able to generate a hash for the key given in the dictionary,
#whose data type is a list.

In [5]:
#In most versions of hash tables, there is no way of changing the key of an entry.
#This is because the key's hash value is very important,changing the key almost always changes the hash value.
#We can use string, number, tuple as a key in Python dictionary because it can not be modified.

In [7]:
lkdict ={"name":"lucky",
         23: "age",
         5.11:"height"}

In [8]:
lkdict

{'name': 'lucky', 23: 'age', 5.11: 'height'}